

ul {
  list-style: none; 
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: 'Lora', serif;
}

nav {
  display: block;
  width: 80%;
  margin: 0 auto;
}

nav ul {
  background: black;
  overflow: hidden;
  padding: 0;
}
nav li {
  float: left;
}
nav a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgb(216, 33, 51);
  color: white;
}
nav a:hover {background: rgba(216, 33, 51, 0.897)}