<div class="contacts">
    <h1>Наши контакты</h1>
    <p>Электронный адрес: auto@auto.by</p>
    <p>Телефон: +375335433361</p>
    <div>
        <h2>Также вы можете оставить свои контактные данные, и мы обязательно свяжемся с вами!</h2>
        <h3>Контактная информация!</h3>
        <form action="/contact" method="POST">
            <input class="search_block" type="text" name="name" maxlength="15" required placeholder="Имя"><br>
            <input class="search_block" type="tel" name="tel" maxlength="13" required placeholder="Телефон">
            <input class="btn" type="submit" value="Отправить" />
        </form>
    </div>
</div>